<div class="question">
  <p><strong><%= @question %></strong></p>
  <p><em>- You</em></p>
</div>

<div class="response">
  <p><strong><%= @answer%></strong></p>
  <p><em>- Your coach</em></p>
</div>

<a href="/ask">Ask a new question</a>
